body{
    background-color: darksalmon;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.zaszlok{
    padding-top: 75px;
}
h1{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    box-shadow:rgba(0,0,0,0.5);
}
h3{
     text-decoration: underline ;
     text-align: left;
     padding-bottom: 25px;
}
body{
    text-align: center;
}

